@page
@model BudgieBudgeting.Pages.RegisterModel
@{
	ViewData["Title"] = "Register";
}﻿
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/css/site.css"></link>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Register</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post">
                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                            {
                                <div class="alert alert-danger">@Model.ErrorMessage</div>
                            }
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="email" asp-for="RegisterCredential.Email" placeholder="YourName@example.com">
                                    <span asp-validation-for="RegisterCredential.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" asp-for="RegisterCredential.Username" placeholder="Username">
                                    <span asp-validation-for="RegisterCredential.Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" asp-for="RegisterCredential.Password" placeholder="Password">
                                    <span asp-validation-for="RegisterCredential.Password" class="text-danger"></span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                    </label>
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
                                <div style="text-align:center; padding:4px;">Or</div>
                            </fieldset>
                        </form>
                        @section Scripts {
                            <partial name="_ValidationScriptsPartial" />
                        }
                        <form method="get" action="/login">
                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        </form>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>