@page
@model BudgieBudgeting.Pages.Update_AccountModel
@{
    ViewData["Title"] = "Update Account Details";
}
<!DOCTYPE html>
<html>
<head>
    <title>Update Account</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Update Account</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="YourName@example.com" asp-for="Email" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Username" asp-for="Username" value="@Model.Username" readonly />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="Password" asp-for="Password" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="checkbox">
                                    <!-- Add any additional checkboxes here if needed -->
                                </div>
                            </fieldset>
                            <button type="submit" style="background-color: #44b3b1" class="btn btn-lg btn-success btn-block">Update</button>
                        </form>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
