<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>gSMMtn4zCeba8eGNEPhIcTZ2NDEFl2HgDvaBZjTIBMD6hMmWvEKg1r18nj6QLEjtUbL3I53xxohHbPwElwpfeAAdO+AwS92UsVKr94dWWsgJ81hoRhAHeyttPAQ16n4GAII8+dUqE6YkEdlm+l2cbVvAsnrw0vzMAkb0KIofMyw88D7j7QzLER2QDaStkgz3SNx12m1K7gqHi6kh3+13pDhFgc5fA293duPUXhFRa0F7OWExeCNsopFlqCGaoAG6NnlTI9z1coozbVyQ821UJSCn5eHgGiLb6ZfL2VV5VOEscJq+OEBPSPblZZPaINvU9hI0Sqa6xduaL1+BBziUGg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>VMSvuHPomUa00mwP7zK1B754He+eP02Qrx0jatMt0FTQ5KoZt+7zw5CDUe9qQFuJ</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>